<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- コンテンツ部分 -->
    <div th:fragment="borrowingList_contents">
        <div class="page-header" th:object="${borrowingList}">
            <h1>借りている書籍一覧</h1>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th class="info col-sm-2">ISBN番号</th>
                <th class="info col-sm-2">著者名</th>
                <th class="info col-sm-2">書籍名</th>
                <th class="info col-sm-2">出版社</th>
                <th class="info col-sm-2">貸出日</th>
            </tr>
            <tr th:each="book : ${borrowingList}">
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.bookAuthor}"></td>
                <td th:text="${book.bookName}"></td>
                <td th:text="${book.publisherName}"></td>
                <td th:text="${book.lendingDate}"></td>
                <td>
                    <!-- 書籍詳細画面へのリンク -->
                    <a class="btn btn-primary" th:href="@{'/returnBook/' + ${book.isbn}}"
                    	onclick="return confirm('この本を返却してよろしいですか？')">返却</a>
                </td>
            </tr>
        </table>
        <!-- 書籍の種類数 -->
        <label th:text=" '現在' + ${borrowingBookCount} + '冊借りています。' "></label><br/>
        <!-- 更新・削除処理の結果表示用
        <label class="text-info" th:text="${result}">結果表示</label><br/>-->
        <!-- 書籍登録用のリンク
        <a class="btn btn-primary" th:href="@{'/bookList/regist'}">書籍登録</a>-->
    </div>
</body>
</html>