<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>SignUp</title>
</head>
<body>
	<div th:fragment="searchBookForm_contents">
    <div class="col-sm-5">
        <div class="page-header">
            <h1>書籍検索</h1>
        </div>
        <form method="post" th:action="@{/searchBook/list}" th:object="${bookRegistForm}">
            <table class="table table-bordered table-hover">
            	 <!-- ISBN番号入力エリア -->
                <tr>
                    <th class="active">ISBN番号</th>
                    <td>
                        <div class="form-group" th:classappend="${#fields.hasErrors('isbn')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{isbn}"/>
                            <span class="text-danger" th:if="${#fields.hasErrors('isbn')}"
                            							th:errors="*{isbn}">bookRetention error</span>
                        </div>
                    </td>
                </tr>
                <!--書籍名入力エリア -->
                <tr>
                    <th class="active col-sm-3">書籍名</th>
                    <td>
                        <div class="form-group" th:classappend="${#fields.hasErrors('bookName')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{bookName}"/>
                            <span class="text-danger" th:if="${#fields.hasErrors('bookName')}"
                            							th:errors="*{bookName}">bookName error</span>
                        </div>
                    </td>
                </tr>
                <!-- 著者名入力エリア -->
                <tr>
                    <th class="active">著者名</th>
                    <td>
                        <div class="form-group" th:classappend="${#fields.hasErrors('bookAuthor')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{bookAuthor}"/>
                            <span class="text-danger" th:if="${#fields.hasErrors('bookAuthor')}"
                            							th:errors="*{bookAuthor}">bookAuthor error</span>
                        </div>
                    </td>
                </tr>
                <!-- 出版社名入力エリア -->
                <tr>
                    <th class="active">出版社名</th>
                    <td>
                        <div class="form-group" th:classappend="${#fields.hasErrors('publisherName')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{publisherName}"/>
                            <span class="text-danger" th:if="${#fields.hasErrors('publisherName')}"
                            							th:errors="*{publisherName}">publisherName error</span>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- エラーメッセージの一覧表示-->
            <ul>
                <li th:each="error : ${#fields.detailedErrors()}">
                    <span th:text="${error.message}">Error message</span>
                </li>
            </ul>
            <!-- ユーザー登録ボタン -->
            <button class="btn btn-primary" type="submit">検索</button>
        </form>
    </div>
    </div>
</body>
</html>