body {
  padding-top: 50px;
  width: 1000;
  height: auto;
  overflow: scroll;
}

.sidebar {
  position: fixed;
  display: block;
  top: 50px;
  padding-top: 30px;
  bottom: 0;
  background-color: #C0C0C0;
}

.main {
  padding-top: 50px;
  padding-left: 20px;
  position: fixed;
  display: block;
  top: 0px;
  bottom: 0;
}

.page-header {
  margin-top: 0px;
}